{% extends "layouts/layout.html" %}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-left: 10px;">
        <a class="navbar-brand" href="/">ripalt</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/torrents">Browse Torrents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/torrent/upload">Upload</a>
                </li>
            </ul>
        </div>
        <div class="">
            <ul class="navbar-nav">
                {% set navbar_link = "/user/profile/" %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{navbar_link}}#profile-peers">
                        <span class="fas fa-angle-double-down" aria-hidden="true"></span>
                        <span id="navbar-downloads">0</span>
                        (<span id="navbar-downloaded">0B</span>)
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="{{navbar_link}}#profile-peers">
                        <span class="fas fa-angle-double-up" aria-hidden="true"></span>
                        <span id="navbar-uploads">0</span>
                        (<span id="navbar-uploaded">0B</span>)
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{navbar_link}}" title="Ratio">
                        <span class="fas fa-balance-scale" aria-hidden="true"></span>
                        <span id="navbar-ratio">&#x221e;</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="navbar-inbox">
                        <span class="fas fa-inbox" aria-hidden="true"></span>
                        0
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownUserMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Username</a>
                    <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdownUserMenuLink">
                        <a class="dropdown-item" href="/user/profile">Profile</a>
                        <a class="dropdown-item" href="/user/settings">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock header %}
{% block footer %}
    <footer>
        <h1>
            <a class="ripalt brand" href="/">
                <span class="name">ripalt v0.2.0</span>
            </a>
        </h1>
    </footer>
{% endblock footer %}
{% block sidebar %}
    <div class="col-md-2 col-xs-1 pl-0 pr-0 mt-0 pt-2" id="sidebar">
        <div class="list-group pt-2 pb-2" id="quicksearch">
            <form class="form-inline" action="/torrents" method="post">
                <input type="hidden" name="category" value="">
                <input type="hidden" name="visible" value="visible">
                <input type="hidden" name="page" value="1">
                <div class="input-group ml-4">
                    <input name="name" type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary text-light" type="submit">Go!</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="list-group">
            <a class="list-group-item collapsed" href="#">
                <span class="fa fa-home" aria-hidden="true"></span>
                Home
            </a>
            <a data-toggle="collapse" data-parent="#sidebar" class="list-group-item collapsed" href="#sidebar-torrents" aria-expanded="false">
                <span class="fas fa-server" aria-hidden="true"></span>
                Torrents
            </a>
            <div class="collapse" id="sidebar-torrents">
                <a class="list-group-item" data-parent="#sidebar-torrents" href="/torrents">
                    <span class="fas fa-server" aria-hidden="true"></span>
                    General
                </a>
                <a class="list-group-item" data-parent="#sidebar-torrents" href="/torrents">
                    <span class="fas fa-music" aria-hidden="true"></span>
                    Music
                </a>
                <a class="list-group-item" data-parent="#sidebar-torrents" href="/torrents">
                    <span class="fas fa-venus-mars" aria-hidden="true"></span>
                    XXX
                </a>
                <a class="list-group-item" data-parent="#sidebar-torrents" href="/torrents">
                    <span class="fas fa-server" aria-hidden="true"></span>
                    All
                </a>
                <a class="list-group-item" data-parent="#sidebar-torrents" href="/torrent/new">
                    <span class="fas fa-upload" aria-hidden="true"></span>
                    Upload
                </a>
                <a class="list-group-item" data-parent="#sidebar-torrents" href="#">
                    <span class="fas fa-search" aria-hidden="true"></span>
                    Requests
                </a>
            </div>

            <a data-toggle="collapse" data-parent="#sidebar" class="list-group-item collapsed" href="#sidebar-community" aria-expanded="false">
                <span class="fas fa-comments" aria-hidden="true"></span>
                Community
            </a>
            <div class="collapse" id="sidebar-community">
                <a class="list-group-item" data-parent="#sidebar-community" href="#">
                    <span class="fas fa-comments" aria-hidden="true"></span>
                    Board
                </a>
                <a class="list-group-item" data-parent="#sidebar-community" href="#">
                    <span class="fas fa-map-signs" aria-hidden="true"></span>
                    Rules
                </a>
                <a class="list-group-item" data-parent="#sidebar-community" href="#">
                    <span class="fas fa-question" aria-hidden="true"></span>
                    FAQ
                </a>
            </div>

            <a class="list-group-item collapsed" href="#">
                <span class="fas fa-inbox" aria-hidden="true"></span>
                Team PM
            </a>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 container pr-0 mb-5">
{% endblock sidebar %}
{% block script %}
<script>
    $(() => {
        'use strict';
        update_stats();
        window.setInterval(update_stats, 60000);
        $('.custom-file input[type=file]').on("change", (ev) => {
            let file = ev.target.value.replace('C:\\fakepath\\', '');
            let id = ev.target.id;
            $('label[for=' + id + ']').text(file);
        });
    });
</script>
{% endblock script %}