<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <title>{% block title %}index{% endblock title %} - ripalt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="shortcut icon" href="/static/img/favicon.png">-->
        <link rel="stylesheet" href="/static/css/fontawesome.min.css">
        <!--<link rel="stylesheet" href="/static/css/fa-regular.css">-->
        <link rel="stylesheet" href="/static/css/fa-solid.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
    {% endblock head %}
</head>
<body>
{% block header %}{% endblock header %}
<div class="container-fluid main pt-0">
    <div class="row">
        {% block sidebar %}<div class="col-md-12 col-sm-12 container">{% endblock sidebar %}
        {% block content %}{% endblock content %}
    </div>
    </div>
</div>
{% block footer %}{% endblock footer %}
<script type="application/javascript" src="/static/js/jquery-3.3.1.slim.min.js"></script>
<script type="application/javascript" src="/static/js/popper.min.js"></script>
<script type="application/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/static/js/ripalt.js"></script>
{% block script %}{% endblock script %}
</body>
</html>
