{% extends "layouts/base_authenticated.html" %}
{% block content %}
    <div class="col-md-12">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card bg-dark">
                    <div class="card-header">News</div>
                    <div class="card-body">News News News</div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                {% include "index/shoutbox.html" %}

            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card bg-dark">
                    <div class="card-header">Active users</div>
                    <div class="card-body">
                        <p>
                            {% for gid in active_users.group_order | reverse %}
                                {% set group = active_users.groups | get(key=gid) %}
                            <span class="user-group user-group-{{group.name | slugify }}">{{ group.name }}</span>{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </p>
                        <p class="index-user-list">
                            {% for gid in active_users.group_order | reverse %}
                                {% set group = active_users.groups | get(key=gid) %}
                                {% if active_users.user_list is containing(gid) %}
                                    {% for user in active_users.user_list | get(key=gid) | sort(key="user.1") %}
                                        <a class="user user-group-{{group.name | slugify }}" href="/user/{{user.0}}">{{user.1}}</a>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}