{% extends "layouts/base_authenticated.html" %}
{% block content %}
    <div class="col-md-12">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card bg-dark">
                    <div class="card-header">News</div>
                    <div class="card-body">News News News</div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card bg-dark">
                    <div class="card-header">Shoutbox</div>
                    <div class="card-body">Shoutbox</div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card bg-dark">
                    <div class="card-header">Active users</div>
                    <div class="card-body">Active users</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}