<div class="card bg-dark">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist" id="shoutbox-tabs">
            {% for chatroom in chatrooms | default(value=[]) %}
                <li class="nav-item">
                    <a class="nav-link {% if chatroom.active %}active{% endif %}" href="#chat-{{chatroom.id}}" id="{{chatroom.id}}-tab" data-toggle="tab" role="tab" aria-controls="chat-{{chatroom.id}}" aria-selected="{% if chatroom.active %}true{% else %}false{% endif %}">
                        {{chatroom.name}}
                        <span class="badge badge-light invisible">0</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="shoutbox-tabs-content">
            {% for chatroom in chatrooms | default(value=[]) %}
                <div class="tab-pane {% if chatroom.active %}active{% endif %}" id="chat-{{chatroom.id}}" role="tabpanel" aria-labelledby="{{chatroom.id}}-tab">
                    <div class="shoutbox" id="shoutbox-{{chatroom.id}}">
                        <ul class="list-unstyled"></ul>
                    </div>
                    <form id="shoutbox-form-{{chatroom.id}}" class="shoutbox-form" data-id="{{chatroom.id}}">
                        <input type="hidden" name="chat" value="{{chatroom.nid}}">
                        <div class="input-group mb-3">
                            <input type="text" id="shoutbox-message-{{chatroom.id}}" name="message" class="form-control" placeholder="Chat message" aria-label="Chat messages">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit">Send</button>
                            </div>
                        </div>
                        <div class="shoutbox-error invisible text-danger"></div>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    (() => {
        'use strict;'
        window.chatrooms = {{ chatrooms | safe | json_encode() }};
        window.addEventListener('load', () => {
            $('form.shoutbox-form').on('submit', (ev) => {
                ev.preventDefault();
                ev.stopPropagation();

                let form = $(ev.target);
                let data = {
                    chat: parseInt($('input[name=chat]', form).val(), 10),
                    message: $('input[name=message]', form).val(),
                };
                $('.shoutbox-error.visible', form).removeClass('visible').addClass('visible').text('');

                post_json("/api/v1/chat/publish", data)
                    .then(data => {
                        data.user_name = $('#navbarDropdownUserMenuLink').text();
                        let id = form.attr('data-id');
                        let target = $(`#shoutbox-${id}>ul`);
                        $('input[name=message]', form).val('');
                        shoutbox_add_line(target, data);
                        let box_target = target.parent();
                        if (box_target.height() < box_target.prop('scrollHeight')) {
                            let scroll_top = box_target.prop('scrollHeight') - box_target.height();
                            box_target.prop('scrollTop', scroll_top);
                        }
                    })
                    .catch(function(error) {
                        console.log(`Error: ${error.message}`);
                        $('.shoutbox-error', form).removeClass('invisible').addClass('visible').text(error.message);
                    });
            });
            update_chatrooms();
            window.setInterval(update_chatrooms, 5000);
        });
    })();

</script>
