// Your variable overrides
$body-bg: #222222;
$body-color: #eeeeee;
$primary: #468cbf;

$dropdown-bg: $body-bg;
$dropdown-link-color: rgba(255, 255, 255, 0.5);
$dropdown-link-hover-bg: lighten($dropdown-bg, 20%);

//$spacer: 0.1rem;

$navbar-padding-y: 0.05rem;
$navbar-padding-x: 0.1rem;

$theme-colors: (
        "primary": #468cbf,
);

$nav-tabs-link-active-border-color: #333;
$nav-tabs-link-hover-border-color: $nav-tabs-link-active-border-color;
$nav-tabs-link-active-color: $primary;

$font-size-base: 0.8rem;

$table-dark-color: $body-color;

$pre-color: #A9B7C6;

@import "../../bootstrap/scss/bootstrap";

/* header and footer */
body > footer {
  padding: 0;
  overflow: hidden;
  //margin: 40px 0 0;
  color: $link-color;
  background-color: $dark;
  //border-top: solid 1px $navbar-dark-toggler-border-color;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;

    a {
      color: theme-color("primary");
      display: inline-block;
      padding: 7px 10px;
    }

    a:hover {
      color: black;
    }

    a .name {
      opacity: 0.65;
    }

    a:hover .name {
      opacity: 1;
    }

    a:hover .name {
      text-decoration: none;
    }
  }
}

/* main */
body > .main {
  //padding: 10px 10px;
}

#sidebar {
  background-color: $dark;

  .list-group-item {
    border-radius: 0;
    background-color: $dark;
    color: $navbar-dark-color;
    border-left: 0;
    border-right: 0;
    border-color: $navbar-dark-toggler-border-color;
    white-space: nowrap;
  }

  // closed state
  .list-group-item[aria-expanded="false"]::after {
    content: " \f0d7";
    font-family: 'Font Awesome 5 Free';
    display: inline;
    text-align: right;
    padding-left: 5px;
  }

  // open state
  .list-group-item[aria-expanded="true"] {
    background-color: darken($dark, 5%);
  }

  .list-group-item[aria-expanded="true"]::after {
    content: " \f0da";
    font-family: 'Font Awesome 5 Free';
    display: inline;
    text-align: right;
    padding-left: 5px;
  }

  // highlight active menu
  .list-group-item:not(.collapsed) {
    background-color: darken($dark, 5%);
  }

  #sidebar .list-group .collapse {
    // level 1
    .list-group-item {
      padding-left: 20px;
    }

    // level 2
    > .collapse .list-group-item {
      padding-left: 30px;

      // level 3
      > .collapse .list-group-item {
        padding-left: 40px;
      }
    }
  }
}

@media (max-width: 48em) {
  // overlay sub levels on small screens
  #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
    position: absolute;
    z-index: 1;
    width: 190px;
  }
  #sidebar .list-group > .list-group-item {
    text-align: center;
    padding: .75rem .5rem;
  }
  // hide caret icons of top level when collapsed
  #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
  #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
    display: none;
  }
}

// change transition animation to width when entire sidebar is toggled
#sidebar.collapse {
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}

#sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;

}

.home-panel:nth-child(n+2) {
  margin-top: 1rem;
}

pre.nfo {
  color: $white;
  background-color: $black;
  font-family: "Lucida ConsoleP", "Terminal", monospace;
  line-height: 1.0em;
  font-size: 8pt;
  min-width: 600px;
  width: 600px;
}
