{% extends "layouts/base_public.html" %}
{% block title %}Sign In{% endblock title %}
{% block content %}
    <div class="container mt-4 mb-4">
        <div class="card bg-dark text-light">
            <div class="card-header">Sign in</div>
            <div class="card-body">
                {% if error %}
                    <p class="text-danger">{{error}}</p>
                {% endif %}
                <form action="/login" method="post" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded" class="needs-validation" novalidate>
                    <div class="form-group row">
                        <label for="form_username" class="col-sm-2 col-form-label">Username:</label>
                        <div class="col-sm-10">
                            <input type="text" name="username" id="form_username" class="form-control" placeholder="Username" value="{{ username }}" required>
                            <div class="invalid-feedback">
                                Please choose a Username.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="form_password" class="col-sm-2 col-form-label">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" name="password" id="form_password" class="form-control" placeholder="Password" required>
                            <div class="invalid-feedback">
                                Please choose a password.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                let validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock content %}