{% extends "layouts/base_authenticated.html" %}
{% block content %}
<div class="col-md-12 mt-4">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endif %}
    <div class="row mt-auto">
        <div class="col-md-8">
            <div class="card bg-dark">
                <div class="card-header">{{torrent.name}}</div>
                <div class="card-body">
                    <form action="/torrent/delete/{{torrent.id}}" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="id" value="{{torrent.id}}">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="delete_reason">Torrent name:</label>
                                <input class="form-control" type="text" name="reason" id="delete_reason" placeholder="Reason to delete" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="btn-group">
                                <a class="btn btn-secondary" href="/torrent/{{torrent.id}}">Back</a>
                                <button type="submit" class="btn btn-danger">Delete Torrent</button>
                                <a class="btn btn-secondary" href="/torrent/edit/{{torrent.id}}">Edit Torrent</a>
                            </div>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
{% block title %}Delete Torrent: {{torrent.name}}{% endblock title %}