{% extends "layouts/base_authenticated.html" %}
{% block content %}
<div class="col-md-12 mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card bg-dark">
                <div class="card-header">Success</div>
                <div class="card-body">
                    <div class="card-title text-success">Edit successful</div>
                    <div class="card-text">
                        <a class="btn btn-primary" href="/torrent/{{id}}">Continue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block title %}Edit Torrent{% endblock title %}