{% extends "layouts/base_authenticated.html" %}
{% block content %}
<div class="col-md-12 mt-4">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endif %}
    <div class="row mt-auto">
        <div class="col-md-8">
            <div class="card bg-dark">
                <div class="card-header">{{torrent.name}}</div>
                <div class="card-body">
                    <form action="/torrent/edit/{{torrent.id}}" method="post" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="edit_torrent_name">Torrent name:</label>
                                <input class="form-control" type="text" name="torrent_name" id="edit_torrent_name" value="{{torrent.name}}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>NFO file</label>
                                <div class="custom-file">
                                    <input class="custom-file-input" type="file" name="nfo_file" id="edit_nfo_file" accept=".nfo,text/plain">
                                    <label class="custom-file-label" for="edit_nfo_file">NFO file</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="edit_category">Category</label>
                                <select class="form-control" name="category" id="edit_category" required>
                                    <option value="">Please select a category</option>
                                    {% for category in categories %}
                                    <option value="{{category.id}}" {% if category.id == torrent.category_id %}selected{% endif %}>{{category.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="edit_description">Description</label>
                                <textarea class="form-control" name="description" id="edit_description" rows="10">{{torrent.description}}</textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="btn-group">
                                <a class="btn btn-secondary" href="/torrent/{{torrent.id}}">Back</a>
                                <button type="submit" class="btn btn-primary">Edit Torrent</button>
                                <a class="btn btn-danger" href="/torrent/delete/{{torrent.id}}">Delete Torrent</a>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block title %}Edit Torrent: {{torrent.name}}{% endblock title %}