{% extends "layouts/base_authenticated.html" %}
{% block content %}
<div class="col-md-12 mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card bg-dark">
                <div class="card-header">Failure</div>
                <div class="card-body">
                    <div class="card-title text-danger">{{sub_title}}</div>
                    <div class="card-text">
                        <p>{{error}}</p>
                        <a class="btn btn-primary" href="{{back_link }}">Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block title %}{{title}}{% endblock title %}