{% extends "layouts/base_authenticated.html" %}
{% block content %}
    <div class="col-md-10 offset-1 mt-4">
        <div class="card bg-dark">
            <div class="card-header">Upload new Torrent</div>
            <div class="card-body">
                {% if error %}
                    <p class="text-danger">{{error}}</p>
                {% endif %}
                <form action="/torrent/upload" method="post" name="upload" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Torrent file</label>
                            <div class="custom-file">
                                <input type="file" name="meta_file" id="upload_meta_file" accept=".torrent,application/x-bittorrent" required>
                                <label class="custom-file-label" for="upload_meta_file">Torrent file</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="upload_torrent_name">Torrent name:</label>
                            <input class="form-control" type="text" name="torrent_name" id="upload_torrent_name" placeholder="torrent name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>NFO file</label>
                            <div class="custom-file">
                                <input class="custom-file-input" type="file" name="nfo_file" id="upload_nfo_file" accept=".nfo,text/plain">
                                <label class="custom-file-label" for="upload_nfo_file">NFO file</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="upload_category">Category</label>
                            <select class="form-control" name="category" id="upload_category" required>
                                <option value="">Please select a category</option>
                                {% for category in categories %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="upload_description">Description</label>
                            <textarea class="form-control" name="description" id="upload_description" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        (() => {
            window.addEventListener('load', () => {
                $('#upload_meta_file').bind('change', (ev) => {
                    let file = ev.target.value.replace('C:\\fakepath\\', '');
                    if ($('#upload_torrent_name').val() === '') {
                        file = file.replace('.torrent', '');
                        $('#upload_torrent_name').val(file);
                    }
                });
            });
        })();
    </script>
{% endblock content %}
{% block title %}Upload{% endblock title %}