{% extends "layouts/base_authenticated.html" %}
{% block content %}
    <div class="col-md-12 mt-4">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-10">
                <p class="lead">{{torrent.name}}</p>
            </div>
        </div>
        <div class="row mt-auto">
            <div class="col-md-8">
                <div class="card bg-dark">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="torrent-details-tab" role="tablist">
                            <li class="nav-item">
                                <a href="#torrent-details" class="nav-link active" id="details-tab" data-toggle="tab" role="tab"
                                   aria-controls="torrent-details" aria-selected="true">Details</a>
                            </li>
                            <li class="nav-item">
                                <a href="#torrent-nfo" class="nav-link" id="nfo-tab" data-toggle="tab" role="tab"
                                   aria-controls="torrent-nfo" aria-selected="false">NFO</a>
                            </li>
                            <li class="nav-item">
                                <a href="#torrent-files" class="nav-link" id="files-tab" data-toggle="tab" role="tab"
                                   aria-controls="torrent-files" aria-selected="false">Files</a>
                            </li>
                            <li class="nav-item">
                                <a href="#torrent-peers" class="nav-link" id="peers-tab" data-toggle="tab" role="tab"
                                   aria-controls="torrent-peers" aria-selected="false">Peers</a>
                            </li>
                            <li class="nav-item">
                                <a href="#torrent-comments" class="nav-link" id="comments-tab" data-toggle="tab" role="tab"
                                   aria-controls="torrent-comments" aria-selected="false">Comments</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="torrent-details-content">
                            <div class="tab-pane active" id="torrent-details" role="tabpanel" aria-labelledby="details-tab">
                                <div class="row border-bottom">
                                    <p class="col-sm-2">Name</p>
                                    <p class="col-sm-10">{{torrent.name}}</p>
                                    <p class="col-sm-2">Info-Hash</p>
                                    <p class="col-sm-10">{{torrent.info_hash}}</p>
                                    <p class="col-sm-2">Download</p>
                                    <p class="col-sm-10">
                                        <a href="/torrent/download/{{torrent.id}}">HTTPS</a>
                                    </p>
                                </div>
                                <div class="row mt-2 border-bottom">
                                    <p class="col-sm-2">Category</p>
                                    <p class="col-sm-10">{{category.name}}</p>
                                    <p class="col-sm-2">Added</p>
                                    <p class="col-sm-10">{{torrent.created_at}}</p>
                                    <p class="col-sm-2">Hits</p>
                                    <p class="col-sm-10">0{# torrent.hits #}</p>
                                    <p class="col-sm-2">Completed</p>
                                    <p class="col-sm-10">{{torrent.completed}}</p>
                                </div>
                                <div class="row mt-2">
                                    <p class="col-sm-2">Files</p>
                                    <p class="col-sm-10">{{num_files}}</p>
                                    <p class="col-sm-2">Size</p>
                                    <p class="col-sm-10">{{torrent.size | data_size}}</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="torrent-nfo" role="tabpanel" aria-labelledby="nfo-tab">
                                {% if nfo %}
                                <div class="btn-group btn-group-sm mt-2 mb-2" role="group" aria-label="...">
                                    <button type="button" class="btn btn-primary">Download NFO</button>
                                    <button type="button" class="btn btn-secondary">Change View</button>
                                </div>
                                <pre class="nfo p-2">{{nfo}}</pre>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="torrent-files" role="tabpanel" aria-labelledby="files-tab">
                                <div class="row">
                                    <div class="col-6">
                                        <table class="table table-striped table-sm">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Size</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for file in files %}
                                                <tr>
                                                    <td>{{file.file_name}}</td>
                                                    <td>{{file.size | data_size}}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="torrent-peers" role="tabpanel" aria-labelledby="peers-tab">
                                <h5>Seeders</h5>
                                <table class="table table-striped table-sm">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">User</th>
                                        <th scope="col">Uploaded</th>
                                        <th scope="col">Downloaded</th>
                                        <th scope="col">Ratio</th>
                                        <th scope="col">Started</th>
                                        <th scope="col">Last Action</th>
                                        <th scope="col">Finished</th>
                                        <th scope="col">Client</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if num_seeder %}
                                    {% for peer in seeder %}
                                        <tr>
                                            <td scope="row"><a href="/user/{{peer.user_id}}">{{peer.user_name}}</a></td>
                                            <td scope="row">{{peer.bytes_uploaded | data_size}}</td>
                                            <td scope="row">{{peer.bytes_downloaded | data_size}}</td>
                                            <td scope="row">{{peer.ratio}}</td>
                                            <td scope="row">{{peer.created_at}}</td>
                                            <td scope="row">{{peer.updated_at}}</td>
                                            <td scope="row">{{peer.finished_at}}</td>
                                            <td scope="row">{{peer.user_agent}}</td>
                                        </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="8" class="text-info text-center font-weight-bold">No Seeders</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>

                                <h5>Leechers</h5>
                                <table class="table table-striped table-sm">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">User</th>
                                        <th scope="col">Uploaded</th>
                                        <th scope="col">Downloaded</th>
                                        <th scope="col">Ratio</th>
                                        <th scope="col">Started</th>
                                        <th scope="col">Last Action</th>
                                        <th scope="col">Complete</th>
                                        <th scope="col">Client</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if num_leecher %}
                                        {% for peer in leecher %}
                                            <tr>
                                                <td scope="row"><a href="/user/{{peer.user_id}}">{{peer.user_name}}</a></td>
                                                <td scope="row">{{peer.bytes_uploaded | data_size}}</td>
                                                <td scope="row">{{peer.bytes_downloaded | data_size}}</td>
                                                <td scope="row">{{peer.ratio}}</td>
                                                <td scope="row">{{peer.created_at}}</td>
                                                <td scope="row">{{peer.updated_at}}</td>
                                                <td scope="row">{{peer.complete_ratio}}</td>
                                                <td scope="row">{{peer.user_agent}}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="8" class="text-info text-center font-weight-bold">No Leechers</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="torrent-comments" role="tabpanel" aria-labelledby="comments-tab">
                                Comments
                            </div>
                        </div>
                        <div class="btn-group btn-group-sm mt-2" role="group" aria-label="...">
                            <a class="btn btn-primary" href="/torrent/download/{{torrent.id}}">Download</a>
                            <button type="button" class="btn btn-secondary">Thanks</button>
                            <button type="button" class="btn btn-danger">Report</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark">
                    <div class="card-header">
                        Images
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="rounded" src="holder.js/200x200?theme=gray" alt="img1">
                            <img class="rounded ml-2" src="holder.js/200x200?theme=gray" alt="img2">
                        </div>
                        <div class="text-center mt-2">
                            <img class="rounded" src="holder.js/200x200?theme=gray" alt="img3">
                            <img class="rounded ml-2" src="holder.js/200x200?theme=gray" alt="img4">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
{% block title %}Details for {{torrent.name}}{% endblock title %}