{% extends "layouts/base_authenticated.html" %}
{% block content %}
<div class="col-md-12 mt-4">
    <div class="row p-2">
        <div class="col-md-9">
            <div id="message-error" class="alert alert-danger d-none" role="alert"></div>
            <div class="card bg-dark">
                <div class="card-header">Messages</div>
                <div class="card-body">
                    <div class="card-title">{{folder | capitalize}}</div>
                    <form id="message-list">
                    <table class="table table-sm table-striped table-dark table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 1%;">#</th>
                            <th scope="col" style="width: 8%;">
                                {% if folder == "sent" %}
                                    Recipient
                                {% else %}
                                    Sender
                                {% endif %}
                            </th>
                            <th scope="col">Subject</th>
                            <th scope="col" style="width: 15%;">
                                {% if folder == "sent" %}
                                    Received
                                {% else %}
                                    Sent
                                {% endif %}
                            </th>
                            <th scope="col" class="text-center" style="width: 1%;">...</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for message in messages %}
                                <tr id="message-{{message.id}}" {% if not message.is_read %}class="font-weight-bold"{% endif %}>
                                    <td scope="row">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" name="message" id="message-check-{{message.id}}" value="{{message.id}}">
                                            <label class="custom-control-label" for="message-check-{{message.id}}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        {% if folder == "sent" %}
                                            <a href="/user/{{message.receiver_id}}">{{message.receiver_name}}</a>
                                        {% else %}
                                            <a href="/user/{{message.sender_id}}">{{message.sender_name}}</a>
                                        {% endif %}
                                    </td>
                                    <td><a href="/message/{{message.id}}">{{message.subject}}</a></td>
                                    <td>{{message.created_at | format_date }}</td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            {% if folder == "inbox" %}
                                                <a role="button" class="btn btn-primary" title="Reply" href="/message/reply/{{message.id}}"><span class="fa fa-reply"></span></a>
                                            {% endif %}
                                            {% if not message.is_read %}
                                                <button role="button" class="btn btn-secondary msg-mark" data-id="{{message.id}}" title="Mark as Read"><span class="fa fa-binoculars"></span></button>
                                            {% endif %}
                                            <button role="button" class="btn btn-danger msg-delete" data-id="{{message.id}}" title="Delete"><span class="fa fa-trash"></span></button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if messages|length == 0 %}
                                <tr>
                                    <td colspan="5" class="text-center text-info">No Messages</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                        <div class="btn-group">
                            <button role="button" class="btn btn-secondary" id="msg-select-all" title="Select all messages"><span class="fa fa-check"></span> Select all</button>
                            <button role="button" class="btn btn-secondary" id="msg-mark-all" title="Mark as Read"><span class="fa fa-binoculars"></span> Mark as read</button>
                            <button role="button" class="btn btn-danger" id="msg-delete-all" title="Delete"><span class="fa fa-trash"></span> Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <a class="list-group-item {% if folder == "inbox" %}active{% endif %}" href="/messages/inbox">Inbox</a>
                <a class="list-group-item {% if folder == "sent" %}active{% endif %}" href="/messages/sent">Sent</a>
                <a class="list-group-item {% if folder == "system" %}active{% endif %}" href="/messages/system">System Messages</a>
                <a class="list-group-item" href="/message/new">New Message</a>
            </div>
        </div>
    </div>
</div>
<script>
    (() => {
        'use strict';
        window.addEventListener('load', () => {
            $('#msg-select-all').on('click', (ev) => {
                ev.preventDefault();
                $('#message-list input:checkbox:not(:checked)').prop('checked', 'checked');
            });
            $('#msg-mark-all').on('click', (ev) => {
                ev.preventDefault();
                let elements = $('#message-list input:checkbox:checked');
                let messages = [];
                elements.each((i, element) => {
                    messages.push(element.value);
                });

                messages_mark(messages);
            });
            $('.msg-mark').on('click', (ev) => {
                ev.preventDefault();
                let id = $(ev.target).attr('data-id');
                messages_mark([id]);
            });
            $('#msg-delete-all').on('click', (ev) => {
                ev.preventDefault();
                let elements = $('#message-list input:checkbox:checked');
                let messages = [];
                elements.each((i, element) => {
                    messages.push(element.value);
                });

                messages_delete(messages);
            });
            $('.msg-delete').on('click', (ev) => {
                ev.preventDefault();
                let id = $(ev.target).attr('data-id');
                messages_delete([id]);
            });
        });
    })();
</script>
{% endblock content %}
{% block title %}Messages{% endblock title %}