{% extends "layouts/base_authenticated.html" %}
{% block content %}
<div class="col-md-12 mt-4">
    <div class="row mt-auto">
        <div class="col-md-9">
            <div id="message-error" class="alert alert-danger d-none" role="alert"></div>
            <div class="card bg-dark">
                <div class="card-header">New Message</div>
                <div class="card-body">
                    <form id="new-message">
                        {% if message is defined %}
                            <input type="hidden" name="reply_to" id="msg-reply-to" value="{{message.id}}">
                        {% endif %}
                        <div class="form-row">
                            <div class="form-group col-md-4 col-sm-6">
                                <label for="msg-recipient">Recipient:</label>
                                <input class="form-control" type="text" name="receiver" id="msg-recipient" placeholder="Recipient" value="{% if message is defined %}{{ message.sender_name }}{% endif %}{% if receiver is defined %}{{receiver}}{%endif%}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-sm-8">
                                <label for="msg-subject">Subject:</label>
                                <input class="form-control" type="text" name="subject" id="msg-subject" placeholder="Subject" value="{% if message is defined %}Re: {{ message.subject | default(value='')}}{% endif %}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="msg-body">Body:</label>
                                <textarea rows="12" class="form-control" name="body" id="msg-body" required>
{%- if message is defined -%}
{{ message.body | quote }}
{% endif -%}
                                </textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <div class="btn-group">
                                    {% if message is defined %}
                                        <a role="button" class="btn btn-secondary" title="Back" href="/message/{{message.id}}"><span class="fa fa-backward"></span> Back</a>
                                    {% endif %}
                                    <button type="submit" class="btn btn-primary"><span class="fa fa-envelope"></span> Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <a class="list-group-item" href="/messages/inbox">Inbox</a>
                <a class="list-group-item" href="/messages/sent">Sent</a>
                <a class="list-group-item" href="/messages/system">System Messages</a>
                <a class="list-group-item active" href="/message/new">New Message</a>
            </div>
        </div>
    </div>
</div>
<script>
    (() => {
        'use strict';
        window.addEventListener('load', () => {
            $('#new-message').on('submit', (ev) => {
                ev.preventDefault();
                let form = $('#new-message');
                let form_data = new FormData(form[0]);
                let data = {
                    'receiver': '',
                    'subject': '',
                    'body': '',
                };
                for (let [key, value] of form_data.entries()) {
                    data[key] = value;
                }
                post_json('/api/v1/message/send', data)
                    .then((data) => {
                        if (data.error !== undefined) {
                            $('#message-error').removeClass('d-none').text(data.error);
                        }
                        if (data.folder_name === 'sent') {
                            window.location.href = `/message/${data.id}`;
                        } else {
                            window.location.href = '/messages/{{message.folder_name | default(value='inbox')}}'
                        }
                    })
                    .catch(error => $('#message-error').removeClass('d-none').text(error));
            });
        });
    })();
</script>
{% endblock %}
{% block title %}New Message{% endblock title %}