{% extends "layouts/base_public.html" %}
{% block title %}Confirmation{% endblock title %}
{% block content %}
    <div class="container mt-4 mb-4">
        <div class="card bg-dark text-light">
            <div class="card-header">
                Confirmation
            </div>
            <div class="card-body">
                <h5 class="card-title text-danger">Confirmation failed</h5>
                <p class="card-text">{{error}}</p>
            </div>
        </div>
    </div>
{% endblock content %}