{% extends "layouts/base_public.html" %}
{% block title %}Confirmation{% endblock title %}
{% block content %}
    <div class="container mt-4 mb-4">
        <div class="card bg-dark text-light">
            <div class="card-header">
                Confirmation
            </div>
            <div class="card-body">
                <h5 class="card-title">Confirmation successful</h5>
                <p class="card-text">You have successfully confirmed your account</p>
                <a class="btn btn-primary" href="/">Goto the main page</a>
            </div>
        </div>
    </div>
{% endblock content %}