{% extends "layouts/base_public.html" %}
{% block title %}Sign Up{% endblock title %}
{% block content %}
    <div class="container mt-4 mb-4">
        <div class="card bg-dark text-light">
            <div class="card-header">
                Sign Up
            </div>
            <div class="card-body">
                <h5 class="card-title">Sign Up successful</h5>
                <p class="card-text">You have successfully signed up for ripalt</p>
                {% if confirm_id %}
                    <p class="card-text">
                        Please click <a class="font-weight-bold" href="/confirm/{{confirm_id}}">here</a> to confirm your
                        account.
                    </p>
                {% else %}
                    <p class="card-text">You should soon receive an email with the confirmation link.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}