{% extends "layouts/base_public.html" %}
{% block title %}Sign Up{% endblock title %}
{% block content %}
<div class="container mt-4 mb-4">
    <div class="card bg-dark text-light">
        <div class="card-header">Sign Up</div>
            <div class="card-body">
            {% if error %}
                <p class="text-danger">{{error}}</p>
            {% endif %}
            <form action="/signup" method="post" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded" class="needs-validation" novalidate>
                <div class="form-group row">
                    <label for="form_username" class="col-sm-2 col-form-label">Username:</label>
                    <div class="col-sm-10">
                        <input type="text" name="username" id="form_username" class="form-control" placeholder="Username" value="{{ username }}" required>
                        <small id="form_username-help-block" class="form-text text-muted">
                            Your username may only contain letters, numbers, _ and -. It must begin with a letter and has to be at least 4 characters long.
                        </small>
                        <div class="invalid-feedback">
                           Please choose a Username.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form_email" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" id="form_email" class="form-control" placeholder="Email" value="{{ email }}" required>
                        <div class="invalid-feedback">
                            Please provide an Email address.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form_password" class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-5">
                        <input type="password" name="password" id="form_password" class="form-control" placeholder="Password" required>
                        <small id="form_password-help-block" class="form-text text-muted">
                            Your password must be at least 8 characters long.
                        </small>
                        <div class="invalid-feedback">
                            Please choose a password.
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" placeholder="Password" required>
                        <div class="invalid-feedback">
                            Please confirm the password.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="on" id="form_terms" name="terms" required>
                            <label class="form-check-label" for="form_terms">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                let validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock content %}