{% extends "layouts/base_authenticated.html" %}
{% block content %}
    <div class="col-md-12 mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card bg-dark">
                    <div class="card-header">Error</div>
                    <div class="card-body">
                        <div class="card-title text-danger">Update User settings failed</div>
                        <div class="card-text">
                            <p>{{error}}</p>
                            <a class="btn btn-primary" href="/user/settings">Go back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block title %}Error{% endblock title %}